body{
    font-family: 'Poppins', sans-serif;
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 1% 15% 1%;
}
.navbar{
    margin-bottom: 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item
{
    padding: 0 18px;
}
.nav-link
{
    font-size: 1.2rem; 
}
.db{
    margin: 5% 3% 5% 0;
}
.title-image{
    width: 60%;
    transform: rotate(19deg);
    position: relative;
    left: 19%;
    bottom: 2%;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
h3{
    font-family: "Montserrat";
    font-size: 1.5rem;
}
.g{
    color: #8f8f8f;
}
.icon:hover{
    color: #ff4c68;
    margin-bottom: 1.5rem;
}
#features{
    padding: 7% 15%;
    text-align: center;
    position: relative;
    z-index: 1;
}
.feauture-box{
    padding: 5%;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
h2{
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width:15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    padding: 100px;
    text-align: center;
}
.price{
    padding: 3% 2%;
}
@media(max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}
#cta{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}
.cta-h3{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
}
#footer{
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}
.footer-para{
    color: #8f8f8f;
}
.ico{
    padding: 20px 10px;
}